/* --Method #1
--------this one gets the SP DDL from syscomments -------------------
DECLARE @id as int

--...syscomments stores the ddl in chunks. so, we need the ID and 
--the chunk number...
SELECT	@id = sp.object_id --AS [c_ID]
FROM sys.all_objects AS sp
WHERE ((sp.type = N'P' OR sp.type = N'RF' OR sp.type='PC')and(sp.name=N'selectEmployeesXRefByUserID' and SCHEMA_NAME(sp.schema_id)=N'dbo'))


-- now we can look up the ddl for this SP
select number, colid, status, texttype, language, encrypted, compressed, text
from [Turnkey].dbo.syscomments c 
where c.id = @id -- = 677577452 --and c.number = 1 
order by c.colid
*/

/* --Method #2 
---------this one gets the SP DDL from sql_modules-------------------
SELECT
NULL AS [Text],
ISNULL(smsp.definition, ssmsp.definition) AS [Definition]
FROM
sys.all_objects AS sp
LEFT OUTER JOIN sys.sql_modules AS smsp ON smsp.object_id = sp.object_id
LEFT OUTER JOIN sys.system_sql_modules AS ssmsp ON ssmsp.object_id = sp.object_id
WHERE
(sp.type = N'P' OR sp.type = N'RF' OR sp.type='PC')and(sp.name=N'selectEmployeesXRefByUserID' and SCHEMA_NAME(sp.schema_id)=N'dbo')
*/