use ReportServer
GO

CREATE VIEW dbo.FailedScheduledReportsThisWeek
AS
SELECT DISTINCT Path, Name, [InstanceName], [Status]
FROM [ReportServer].[dbo].[ExecutionLog] AS ErrLog
	INNER JOIN [ReportServer].[dbo].[Catalog] AS Report ON ErrLog.ReportID = Report.ItemID
WHERE Status<>'rsSuccess'
	AND timestart between DateAdd(d, -5, GetDate()) and DateAdd(d, 1, GetDate())

GO

Grant Select on dbo.FailedScheduledReportsThisWeek
to public
go