USE [tmtWeb]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[tmtGeomToGml]
(
	@Geom geometry
)
returns xml	
as

/*
FUNCTION: [tmtGeomToGml]

	=============================================
	Author:		  Tim Golisch ...based on another function from Kevin Stong - Yellow Stack Solutions
	Create date:  Feb 1, 2010
	Description:  Convert a Geometry Field to GML
	=============================================

Input Parameters:
	@stateCode nvarchar(2)
*/
BEGIN

Set @Geom = Case @Geom.STIsValid() When 0 Then @Geom.MakeValid() When 1 Then @Geom End

return tmtGIS.dbo.MakeValidGeographyFromGeometry(@Geom.Reduce(.001)).AsGml()

END
GO

Grant exec on dbo.tmtGeomToGml TO Public
Go
